In [1]:
import os
import pickle
import matplotlib.pyplot as plt                     
import numpy as np                                    
import pandas as pd
from pathlib import Path
from textwrap import wrap
from sklearn.model_selection import train_test_split
from sklearn import metrics

# Random forest and boosting packages
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [26]:
home_dir = Path(".").resolve()
main_dir = home_dir.parent.parent
print(main_dir)
data_dir = str(main_dir) + "bankdata"
print(data_dir)

C:\
C:\bankdata

In [3]:
bank = pd.read_csv('https://raw.githubusercontent.com/Skillsoft-Content/Advanced-Classification-with-Python/main/data/bank_marketing.csv')
print(bank.head())

   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week  ...  campaign  pdays  previous     poutcome emp_var_rate  \
0   may         mon  ...         1    NaN         0  nonexistent          1.1
1   may         mon  ...         1  999.0         0  nonexistent          1.1
2   may         mon  ...         1  999.0         0  nonexistent          1.1
3   may         mon  ...         1  999.0         0  nonexistent          1.1
4   may         mon  ...         1  999.0         0  nonexistent          1.1

   cons_price_idx  cons_conf_idx  euribor3m  nr_employed   y
0          93.994          -36.4      4.857         5191  no
1          93.994          -36.4      4.857         5191  no
2          93.994          -36.4      4.857         5191  no
3          93.994          -36.4      4.857         5191  no
4          93.994          -36.4      4.857         5191  no

[5 rows x 21 columns]

In [8]:
bank['y'] = np.where(bank['y'] == 'yes', 1,0)

print(bank['y'].head())

0    0
1    0
2    0
3    0
4    0
Name: y, dtype: int32

In [13]:
bank.isnull().mean().apply(
    lambda x: '{:.5f}% Missing'.format(x*100)).sort_values(ascending=False)

pdays             0.00243% Missing
age               0.00000% Missing
campaign          0.00000% Missing
nr_employed       0.00000% Missing
euribor3m         0.00000% Missing
cons_conf_idx     0.00000% Missing
cons_price_idx    0.00000% Missing
emp_var_rate      0.00000% Missing
poutcome          0.00000% Missing
previous          0.00000% Missing
duration          0.00000% Missing
job               0.00000% Missing
day_of_week       0.00000% Missing
month             0.00000% Missing
contact           0.00000% Missing
loan              0.00000% Missing
housing           0.00000% Missing
default           0.00000% Missing
education         0.00000% Missing
marital           0.00000% Missing
y                 0.00000% Missing
dtype: object

In [16]:
bank = bank.drop(['pdays', 'month', 'poutcome', 'previous', 'duration', 'job', 'day_of_week', 'contact', 'loan', 'housing', 'default', 'education', 'marital'], axis = 1)
print(bank.head())

   age  campaign  emp_var_rate  cons_price_idx  cons_conf_idx  euribor3m  \
0   56         1           1.1          93.994          -36.4      4.857
1   57         1           1.1          93.994          -36.4      4.857
2   37         1           1.1          93.994          -36.4      4.857
3   40         1           1.1          93.994          -36.4      4.857
4   56         1           1.1          93.994          -36.4      4.857

   nr_employed  y
0         5191  0
1         5191  0
2         5191  0
3         5191  0
4         5191  0

In [37]:
pickle.dump( bank, open( "bank_clean.csv", "wb" ) )

In [35]:
bank = bank.sample(n=2000, random_state=1)